<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
    <stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.3.0.ee"/>
    <stringAttribute key="mule-agent-port" value="50216"/>
    <stringAttribute key="mule-agent-token-auth" value="77f80753-d245-4993-a9b7-3bdaf586f9a5"/>
    <listAttribute key="mule-project-names">
        <listEntry value="fetch-custdetails-for-ids"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="fetch-custdetails-for-ids"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-M-XX:-UseBiasedLocking -M-Dfile.encoding=UTF-8 -M-XX:+UseG1GC -M-XX:+UseStringDeduplication"/>
</launchConfiguration>
